<div class="container">
  <div class="load">
    <label for="textarea">Cargar JSON:</label>
    <br />
    <textarea id="textarea" rows="40" cols="30">{{
      jsonObject | json
    }}</textarea>
    <br />
    <button (click)="loadJson($event)">Cargar</button>
  </div>
  <div class="json">
    <div *ngIf="jsonObject">
      <button (click)="imprimirObjeto()">Imprimir objeto</button>

      <button (click)="showAllElements()">Mostrar</button>
    </div>
    <div>
      <div class="object" id="object" *ngIf="jsonObject">
        <button (click)="addRootObject($event, jsonObject)" class="add_button">
          Add root
        </button>
        <ng-json-tree-view [obj]="jsonObject"></ng-json-tree-view>
      </div>
    </div>
  </div>
</div>
